In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
heroes_list=pd.read_html('https://www.hotslogs.com/Default')

In [4]:
type(heroes_list)

list

In [5]:
heroes_list

[    0       1
 0 NaN  Search,
     0   1   2
 0 NaN NaN NaN,
     Unnamed: 0              Hero  Games Played  Games Banned Popularity  \
 0          NaN            Rexxar          3520          3129       8.0%
 1          NaN  The Lost Vikings          1968          2565       5.4%
 2          NaN             Uther         11206          3427      17.5%
 3          NaN               Mei         13802          8080      26.2%
 4          NaN         Deathwing          6498          7752      17.1%
 ..         ...               ...           ...           ...        ...
 85         NaN          Imperius          7067          4488      13.8%
 86         NaN              Yrel          1810           216       2.4%
 87         NaN             Zarya          1688           136       2.2%
 88         NaN            Medivh          2182           752       3.5%
 89         NaN             Genji          3190           491       4.4%

    Win Percent    % Δ
 0        56.9%   2.3%
 1        56.7%  -0.5%
 2        56.2%   1.6%
 3        55.9%   2.8%
 4        55.0%  -0.3%
 ..         ...    ...
 85       44.4%  -2.5%
 86       44.4%  -3.5%
 87       44.3%  -1.0%
 88       42.3%   0.1%
 89       41.8%   1.2%

 [90 rows x 7 columns]]

In [7]:
heroes_list.columns()

AttributeError: 'list' object has no attribute 'columns'

In [14]:
heroes_list.shape[2]

AttributeError: 'list' object has no attribute 'shape'

In [19]:
heroes_list = heroes_list[2]

In [20]:
heroes_list

,Unnamed: 0,Hero,Games Played,Games Banned,Popularity,Win Percent,% Δ
0,NaN,Rexxar,3520,3129,8.0%,56.9%,2.3%
1,NaN,The Lost Vikings,1968,2565,5.4%,56.7%,-0.5%
2,NaN,Uther,11206,3427,17.5%,56.2%,1.6%
3,NaN,Mei,13802,8080,26.2%,55.9%,2.8%
4,NaN,Deathwing,6498,7752,17.1%,55.0%,-0.3%
...,...,...,...,...,...,...,...
85,NaN,Imperius,7067,4488,13.8%,44.4%,-2.5%
86,NaN,Yrel,1810,216,2.4%,44.4%,-3.5%
87,NaN,Zarya,1688,136,2.2%,44.3%,-1.0%
88,NaN,Medivh,2182,752,3.5%,42.3%,0.1%
89,NaN,Genji,3190,491,4.4%,41.8%,1.2%

In [21]:
heroes_list.shape

(90, 7)

In [22]:
heroes_list.columns

Index(['Unnamed: 0', 'Hero', 'Games Played', 'Games Banned', 'Popularity',
       'Win Percent', '% Δ'],
      dtype='object')

In [23]:
heroes_list.drop(['Unnamed: 0', '% Δ'], axis=1)

                Hero  Games Played  Games Banned Popularity Win Percent
0             Rexxar          3520          3129       8.0%       56.9%
1   The Lost Vikings          1968          2565       5.4%       56.7%
2              Uther         11206          3427      17.5%       56.2%
3                Mei         13802          8080      26.2%       55.9%
4          Deathwing          6498          7752      17.1%       55.0%
..               ...           ...           ...        ...         ...
85          Imperius          7067          4488      13.8%       44.4%
86              Yrel          1810           216       2.4%       44.4%
87             Zarya          1688           136       2.2%       44.3%
88            Medivh          2182           752       3.5%       42.3%
89             Genji          3190           491       4.4%       41.8%

[90 rows x 5 columns]

In [24]:
heroes_df = heroes_list.drop(['Unnamed: 0', '% Δ'], axis=1)

In [25]:
type(heroes_df)

pandas.core.frame.DataFrame

In [26]:
heroes_df

                Hero  Games Played  Games Banned Popularity Win Percent
0             Rexxar          3520          3129       8.0%       56.9%
1   The Lost Vikings          1968          2565       5.4%       56.7%
2              Uther         11206          3427      17.5%       56.2%
3                Mei         13802          8080      26.2%       55.9%
4          Deathwing          6498          7752      17.1%       55.0%
..               ...           ...           ...        ...         ...
85          Imperius          7067          4488      13.8%       44.4%
86              Yrel          1810           216       2.4%       44.4%
87             Zarya          1688           136       2.2%       44.3%
88            Medivh          2182           752       3.5%       42.3%
89             Genji          3190           491       4.4%       41.8%

[90 rows x 5 columns]

In [27]:
heroes_df['Hero'].unique()

array(['Rexxar', 'The Lost Vikings', 'Uther', 'Mei', 'Deathwing', 'Xul',
       'Gazlowe', 'D.Va', "Zul'jin", 'Sonya', 'Kharazim', 'Kerrigan',
       'Cassia', 'Tracer', 'Hogger', 'Orphea', 'Fenix', 'Tassadar',
       'Samuro', 'Gall', 'Malthael', "Anub'arak", 'Lúcio', 'Whitemane',
       'Rehgar', 'Tychus', 'Varian', 'Muradin', 'Murky', 'Cho', 'Tyrande',
       'Raynor', 'Lunara', 'Azmodan', 'Brightwing', 'Jaina', 'Chromie',
       'Greymane', 'The Butcher', 'Ragnaros', "Kel'Thuzad", 'Falstad',
       'Stukov', 'Leoric', 'Arthas', 'Malfurion', 'Qhira', 'Tyrael',
       'Sylvanas', 'Mephisto', 'Zeratul', 'Alarak', "Gul'dan", 'Diablo',
       'Sgt. Hammer', 'Illidan', 'Auriel', 'Lt. Morales', 'Artanis',
       'Anduin', 'Blaze', "Kael'thas", 'Alexstrasza', 'Valeera', 'Li Li',
       'Junkrat', 'Garrosh', 'E.T.C.', 'Chen', 'Li-Ming', 'Valla',
       "Mal'Ganis", 'Abathur', 'Probius', 'Ana', 'Zagara', 'Maiev',
       'Nazeebo', 'Johanna', 'Deckard', 'Dehaka', 'Hanzo', 'Stitches',
       'Thrall', 'Nova', 'Imperius', 'Yrel', 'Zarya', 'Medivh', 'Genji'],
      dtype=object)

In [28]:
heroes_df['Hero'].nunique()

90

In [32]:
heroes_df.loc['Hero'=='Lúcio']

KeyError: False

In [30]:
heroes_df.to_csv('Heroes List.csv', index=False)